resolvers docker
 nameserver dnsmasq 127.0.0.1:53

defaults
 timeout client          10s
 timeout server          10s
 timeout connect         10s
 
frontend localnodes
 bind *:80
 mode http

 acl url_service path_beg /service/

 use_backend nodes_service if url_service
 default_backend nodes

backend nodes
 mode http
 option httpchk HEAD /health.json HTTP/1.1\r\nHost:\ test.com
 errorfile 503 /etc/haproxy/errorfiles/503-html

 stats enable
 stats uri /haproxy?stats

 balance roundrobin
 server s1 demo-haproxy-nginx-1:80 check fall 3 rise 2 resolvers docker resolve-prefer ipv4
 server s2 demo-haproxy-nginx-2:80 check fall 3 rise 2 resolvers docker resolve-prefer ipv4

backend nodes_service
 mode http
 option httpchk HEAD /health.json HTTP/1.1\r\nHost:\ test.com
 errorfile 503 /etc/haproxy/errorfiles/503-service 

 stats enable
 stats uri /haproxy?stats

 balance roundrobin
 server s1 demo-haproxy-nginx-1:80 check fall 3 rise 2 resolvers docker resolve-prefer ipv4
 server s2 demo-haproxy-nginx-2:80 check fall 3 rise 2 resolvers docker resolve-prefer ipv4